# Carpetas y archivos de configuración temporal de VS
.vs/
.vscode/
.idea/

# Archivos de configuración de usuario
*.suo
*.user
*.userosscache
*.sln.docstates

# Cache y evaluaciones de proyecto
*.dtbcache.v2
FileContentIndex/
ProjectEvaluation/
DesignTimeBuild/

# Carpetas generadas por VS
config/
.v17/

# Ignorar bin, obj y demás carpetas de compilación
[Bb]in/
[Oo]bj/
[Rr]ef/
[Rr]efint/

# Ignorar ejecutables y librerías compiladas
*.dll
*.exe
*.pdb

# Ignorar configuraciones locales
appsettings*.json
!appsettings.example.json
